@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700&display=swap');
/* reset */

body {
	font:normal 12px "애플고딕", AppleGothic, "돋움", dotum, Arial, Verdana, sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#eeefe6;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
	font-weight:bold;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, 
fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
	vertical-align: middle;
}
/* common modul */
html { 
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	 }
body .load-wrapper { position: relative; }
div { display: block; }
ul { display: block; }
article { display: block; }
h2 { 
	font-weight: bold;
	display: block; }
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a { background-color: transparent; }
@media {(max-height: 1036px)}
.product:nth-child(1):hover {background-color:#ad2426;}
.product:nth-child(2):hover {background-color:#9ca519;}
.product:nth-child(3):hover {background-color:#811733;}
b, strong { 
	font-family: 'Heebo', sans-serif;
    font-weight: 900; 
}


/* sidebar */
.sidebar { 
	height: 100%;
	padding-left: 40px;
	width: 240px;
	position: fixed;
	top:0;
	left:0;
	 }
.sidebar .highlight {
	display: block;
	position: absolute;
	top: 215px;
	bottom: 0;
	right: 0;
	width: 0;
	border-right: 1px solid #ce3233;
}
.sidebar .logo { margin: 40px 0; }
.sidebar nav { margin-bottom: 50px; }
.sidebar nav .sidebar-home a {
	font-size: 15px;
	font-family: 'Heebo', sans-serif;
    font-weight: 900;
	border-bottom: 1px solid #ce3233;
	color: #ce3233;
}
.sidebar nav ul {
	font-size: 1em;
	letter-spacing: .2em;
	padding: 0;
	text-transform: uppercase;
}
.sidebar nav a {
    color: #494445;
    display: block;
    padding: .75em 0;
    position: relative;
    text-decoration: none;
}
.sidebar .shop-link {
    border: 1px solid #ce3233;
    color: #ce3233;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    padding: 10px 60px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.sidebar .shop-link:before {
    border: 0 solid #ce3233;
    box-sizing: border-box;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/* social */
.sidebar .social { margin-bottom: 20px; }
.sidebar .social a.fb {background-position: top left; }
.sidebar .social a.ig {background-position: top center;}
.sidebar .social a.tw {background-position: top right;}
.sidebar .social a {
	display: inline-block;
	text-indent: -1000px;
	width: 25px;
	height: 25px;
	background-size: 200px 70px;
	background-image: url(../images/social-icons.png);
	background-repeat: no-repeat;
	margin: 0 20px;
}
/* credits */
.sidebar .credits {
    font-size: 12px;
    color: rgba(73,68,69,.6);
    letter-spacing: .0625em;
    line-height: 1;
}
/* wizardry */
.wizardry { 
	height: 0px;
	/*height: 600px;*/
	overflow: hidden;
	position: relative;
}
.wizardry .pig {ㅁ	position: absolute;
	top:0;
    left: 250px;
}
.wizardry .cloud-a {
	position: absolute;
	top:0;
    left: 600px;}
.wizardry .cloud-b{
	position: absolute;
	top:0;
    right:150px;
}
.wizardry .oval{
	position: absolute;
	top:0;
    right:0;
}
.wizardry img.pig, .cloud-a, .cloud-b {  
	animation-name: speed; 
	animation-duration: 1s; 
}
@keyframes speed {
	0% {transform: translateY(-400px);}
	to { transform: translateY(0); }
}
.head img {  
	animation-name: up; 
	animation-duration: 1s; 
}
@keyframes up {
	0% {transform: translateY(400px);}
	to { transform: translateY(0); }
}
/* article */
article { 
	padding-left: 280px; 
}
.page-intro { 
	position: absolute;
	top:200px;
	left: 300px;
	margin-bottom: 200px;
}
.page-intro .headline {
    color: #ce3233;
    font-size: 110px;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    line-height: 105px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.page-intro .headline span {
    font-size: 25px;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    letter-spacing: 3.3px;
    line-height: 0;
    margin-left: -33px;
}
.page-intro .copy {
    color: #ce3233;
    margin: 0 0 0 75px;
    position: relative;
    text-transform: uppercase;
    font-size: 1.75em;
    letter-spacing: .05571em;
    line-height: 1.28571em;
    margin-left: 60px;
    max-width: 630px;
}
/* delve invite */
.delve-invite { 
	margin-bottom: 195px;
 }
.delve-invite img { 
	display: block;
	margin: 0 auto;
	padding-left: 47px;
 }
 .delve-invite p { text-align: center; }
 .delve-invite a {
 	border:1px solid #ce3233;
 	color: #ce3233;
 	display: inline-block;
 	font-size: 1em;
 	line-height: 1;
 	padding: 10px 60px;
 	text-align: center;
 	text-decoration: none;
 	text-transform: uppercase;
 	position: relative;
 }
 /* products-wrapper */
.products-wrapper {position: relative;}
.products-wrapper .head { 
	position: absolute;
	right: 0;
	top: -200px;
	z-index: 9;
}
.products-wrapper .products { 
	margin-top: 200px;
	background: url(img/product-bg.jpg) no-repeat center 50px #ce3233;
    background-size: 100% auto;
    /*position: relative;*/
    z-index: 10;
	overflow: hidden; 
}
.products-wrapper .products > h2 {
	position: absolute;
	color:#ce3233;
	font-size: 8.8125em;
	left: 40px;
	line-height: .78014em;
	margin: 0;
	text-transform: uppercase;
	top: -64px;
	z-index: 9;
	letter-spacing: .0234em;
	
}
.products-wrapper .products > h2 span { color: #eeefe6; }
.products-wrapper .products .inner {
    display: flex;
    flex-direction: row;
}
.products-wrapper .products .product h3 {
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    color: rgba(238,239,230,.6);
    font-size: 3em;
    letter-spacing: .03333em;
    line-height: 35px;
    margin: 530px 0 15px;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;
    word-spacing: 10000px;
}
.products-wrapper .products .product {
	 float: left;
	 color: #eeefe6;
	 padding-top: 120px;
	 position: relative;
	 text-align: center;
	 /*background-color: transparent;*/
	 width: 33%;
	 transition: background-color 250ms;
 }
.products-wrapper .products .product img {
 	position: absolute;
 	top: 120px;
 	left: 50%;
 	transform: translate(-50%,0);
 	height: 500px;
 	transition: height 250ms, top 250ms;
 }
.products-wrapper .products .product p {
	font-family: 'Heebo', sans-serif;
	font-weight: 100;
	font-size: 2em;
	margin: 0 auto 30px;
	max-width: 290px;
	color: rgba(300,300,300,.6);
}
.products-wrapper .products .product a {
	border: 1px solid #ce3233;
	font-size: 1em;
	line-height: 1;
	padding: 10px 60px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-color: rgba(238,239,230,.6);
	color: rgba(238,239,230,.6);
	display: block;
	max-width: 250px;
	padding-left: 0;
	padding-right: 0;
	margin:0 auto 15px;
	transition: color 100ms;
}

.features {
	display: flex;
	text-align: center;
}
.features .tile {
	border:1px solid #ce3233;
	padding: 20px;
	width: 50%;
	flex-grow: 1;
}
.features .tile img {
	display: block;
	height: 154px;
	margin: 0 auto;
}
.features .tile h3 {
	color: #494445;
	font-size: 2.25em;
	letter-spacing: .04167em;
	margin: 0;
	padding-bottom: 12px;
	position: relative;
	text-transform: uppercase;
}
.features .tile p {
    color: #494445;
    font-size: 1.125em;
    line-height: 1em;
}
.features .tile a {
    border: 1px solid #ce3233;
    color: #ce3233;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    padding: 10px 60px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


.social-feeds .top { 
	/*height: 450px;*/
	border-left: 1px solid #ce3233;
	position: relative;
	overflow: hidden;
}
.social-feeds .top > h2 {
    color: #ce3233;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 8.8125em;
    letter-spacing: .0234em;
    line-height: .78014em;
    margin: 0;
    position: absolute;
    left: 40px;
    top: 200px;
}
.social-feeds .top a {
	text-decoration: none;
	color: gray;
	}
.social-feeds .top .insta_a { 
	position: absolute; 
	left: 150px;
	top: 420px;
}	
.social-feeds .top .fb_a {
	position: absolute;
	right: 150px;
	top: 420px;
}

.social-feeds .feeds {
	padding-top: 100px;
	position: relative;
	display: flex;
	width: 880px;
	height:400px;
	margin: 0 auto;
}
.feeds img { width: 220px; height: 200px; }
.feeds .insta {
	width: 440px;
	position: absolute;
	left: 0;
}
.feeds .insta img { float: left; }
.feeds .facebook {
	width: 440px;
	position: absolute;
	right: 0;

}
.feeds .facebook img { float: left; }


	